*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: rgb(78, 52, 46);
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover{
  cursor: pointer;
}

i:hover{
  cursor: pointer;
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem 0rem;
}

img {
  width: auto;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

header h1 {
  font-size: 3rem;
}

label {
  font-size: 1.2rem;
  color: rgb(56, 12, 12);
}

.progress {
  height: 10px;
  border-radius: 10px;
}

.slider .slides li img {
  border: 2px solid rgba(128, 128, 128, 0.202);
}

.wrapper {
  max-width: 98%;
  margin: 1rem auto 0rem auto;
}

.collection a.collection-item {
  color: var(--primary-color);
  font-weight: bold;
}

.btn {
  margin-top: 1rem;
}

.collection-item {
  list-style: none;
  font-weight: bold;
}


.left{
  font-weight: bold;
  padding-left: 25px;
  padding-right: 50px;
}

.right{
  font-weight: bold;
  padding-left: 50px;
  padding-right: 25px;
}

/* Modal content */

/* The Modal (background) */
.warning {
  display: none; 
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.warning-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
  border-radius: 30px;
}

/* confirm button */
.confirmBtn{
  margin-top: 30px;
  border-radius: 5px;
  padding: 5px;
}
