*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: rgb(78, 52, 46);
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.5rem 0rem;
}

img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

header h1 {
  font-size: 3rem;
}

label {
  font-size: 1.2rem;
  color: rgb(56, 12, 12);
}

.wrapper {
  max-width: 98%;
  margin: 1rem auto 0rem auto;
}

.collection a.collection-item {
  color: var(--primary-color);
  font-weight: bold;
}

.btn {
  margin-top: 1rem;
}
